<div id='wrapper'>
    <p class='mat-h1'>About</p>
    <p>The mission is to analyze energy usage throughout homes and balance breaker boxes to improve safety and efficiency. In most common houses there exists the potential for a large amount of current on the neutral; this excess represents a safety issue
        for homeowners, and the imbalance can harm transformers. Not only this, but the resulting decrease in electrical efficiency can create higher utility bills and as such improvements can be made. This project seeks to analyze the current on the
        neutral wire and minimize it. </p>
    <br>

    <p class='mat-h1'>The Solution</p>
    <p>The team is going to monitor each breaker and balance the box to generate the least amount of current on the ground wire. This will be done using amp clamps to measure the outgoing current from the breaker box and then to feed that signal to a microcontroller
        and use a balancing algorithm formulate a better wiring schematic for it. Once set up, the user will be able to monitor their usage and wiring recommendations from this web app.
    </p>
    <br>

    <p class='mat-h1'>The Team</p>
    <ul>
        <li>
            <p matLine>Jay Toebben</p>
            <img matLine src='assets/images/jay.png'>
        </li>
        <li>
            <p matLine>Nick Henry</p>
            <img matLine src='assets/images/nick.png'>
        </li>
        <li>
            <p matLine>Chase Alexander</p>
            <img matLine src='assets/images/chase.png'>
        </li>
        <li>
            <p matLine>Tyler Nicewarner</p>
            <img matLine src='assets/images/tyler.png'>
        </li>
        <li>
            <p matLine>Felipe Costa</p>
            <img matLine src='assets/images/felipe.png'>
        </li>
        <li>
            <p matLine>Albert Klorer</p>
            <img matLine src='assets/images/albert.png'>
        </li>
    </ul>
</div>