<div id="wrapper">
    <ngx-spinner></ngx-spinner>
    <div id="content">
        <mat-card>
            <mat-card-title>Breaker Balance Sheet</mat-card-title>
            <mat-card-content>
                <div class='breaker-wrapper'>
                    <div class="column">
                        <div *ngFor="let sensor of sensors; let i = index;">
                            <!-- if odd => column 1  -->
                            <div *ngIf="(i+1)%2===1">
                                <div class="breaker" [ngClass]="{
                                  'low'  : colorSensor(sensor) === 0,
                                  'mid'  : colorSensor(sensor) === 1,
                                  'high' : colorSensor(sensor) === 2 }">                                    
                                    <div class='breaker-detail-1'></div>
                                    <div class='breaker-detail-2'>{{sensor}}</div>
                                    <div class='breaker-detail-3'>{{i+1}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div *ngFor="let sensor of sensors; let i = index;">
                            <!-- else if even => column 2 -->
                            <div *ngIf="(i+1)%2==0">
                                <div class="breaker" [ngClass]="{
                                    'low'  : colorSensor(sensor) === 0,
                                    'mid'  : colorSensor(sensor) === 1,
                                    'high' : colorSensor(sensor) === 2 }">
                                    <div class='breaker-detail-1'></div>
                                    <div class='breaker-detail-2'>{{sensor}}</div>
                                    <div class='breaker-detail-3'>{{i+1}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='usage-wrapper'>
                    <div class='usage' id='1'>Circuit 1 Usage: 0.0</div>
                    <div class='usage' id='2'>Circuit 2 Usage: 0.0</div>
                </div>
                <div class='savings'>Potential Savings: 0.0</div>
            </mat-card-content>
        </mat-card>
    </div>
</div>